nav {
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(#333, #000, #333);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 10px #000;
    width: 66%;
    border-radius: 15px;
    margin: auto;
}

nav ul {
    display: block;
    list-style: none;
    text-align: center;
    padding:10px;
}

nav ul li {
    display:inline;
    margin: auto;
    padding: 10px;
}

nav ul li a {
    padding:10px;
    text-decoration: none;
    color: #999999;
    font-size: 2em;
}

.hover{
    background: rgba(0,0,0, .5);
}